.first-box-container {
    position: relative;
    width: 110px;
    height: 70px;
    background-color: red;
    padding: 40px;
    outline: 10px solid;
    outline-color: green;
    
}

.second-box-container {
    position: relative;
    width: 110px;
    height: 70px;
    background-color: yellow;
    left: 300px;
    top: -150px;
    padding: 40px;
    outline: 10px solid;
    outline-color: red;

}

.third-box-container {
    position: relative;
    width: 110px;
    height: 70px;
    background-color: green;
    left: 600px;
    top: -300px;
    padding: 40px;
    outline: 10px solid;
    outline-color: yellow;

}

p {
    color: blue;
}

